:root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-blue: #2067F5;
    --bs-primary: #2067F5;
    --custom-red: #7d0703;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
}

body {
    background: #222A36;
    color: white;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link,
    .navbar-nav .btn {
        color: white !important;
    }

    .collapse.navbar-collapse .navbar-nav .btn-custom-red {
        background-color: var(--custom-red);
        color: #fff; /* Set text color to white or a contrasting color */
    }



.navbar-toggler-custom {
    background-color: var(--custom-red);
    border-color: var(--custom-red);
    color: #fff;
}